@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

$custom-colors: (
  "custom-color-grey": #dedede,
  "primary": #3f75a0,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

$primary: #3f75a0;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
