#team {
  max-height: 0;
  overflow: hidden; /* Prevent layout shifts */
  opacity: 0;
  visibility: hidden;
  transition:
    margin-bottom 0.7s ease-out,
    max-height 0.7s ease-out,
    opacity 0.7s ease-out;
}

.transition-up,
.transition-down {
  display: flex;
  opacity: 0;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transition: ease-out;
  z-index: 0;
}

.transition-up {
  animation-name: transition-up;
}

.transition-down {
  animation-name: transition-down;
}

@keyframes transition-up {
  from {
    max-height: 250px !important;
    opacity: 1;
    transform: translateY(0px);
    visibility: visible;
    display: flex;
  }
  to {
    max-height: 0px;
    opacity: 0;
    transform: translateY(-650px);
    visibility: hidden;
    display: none;
  }
}

@keyframes transition-down {
  from {
    max-height: 0;
    opacity: 0;
    transform: translateY(-650px);
    visibility: hidden;
    display: none;
  }
  to {
    max-height: 250px !important;
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    display: flex;
  }
}
